.hcenter {
  text-align: center;
}
a {
  cursor:pointer;
}
.form-group  {
  display: inline-block;
  width: 18%;
  margin-left: 1%;
  margin-right: 1%;
}
.form-group label {
  margin-bottom: 1%;
  padding: 10%;

}
.form-group input.form-control {
  margin-top: 1%;
}
